body {
    background: rgb(91, 185, 209);
    font: normal 15pt arial;
    text-align: center;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.397);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}